<a href="/local/staffmanager/rates.php" class="btn btn-secondary float-right">Rates</a><br>
<p>This page will display a search bar to find all staff that are teachers in courses and display their number of assignments and quizes that they have graded in a specific month in a selected year.</p>
<p>The results will be displayed for each person with an additional option to view more details which will display the actual activities, qualification and students that were graded.</p>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Month</label>
  </div>
  <select class="custom-select" id="month" name="month">
    <option value="1">Jan</option>
    <option value="2">Feb</option>
    <option value="3">Mar</option>
    <option value="4">Apr</option>
    <option value="5">May</option>
    <option value="6">Jun</option>
    <option value="7">Jul</option>
    <option value="8">Aug</option>
    <option value="9">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div>
  <select class="custom-select" id="year" name="year">
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
  <div class="input-group-append">
   <button class="btn btn-outline-secondary" type="button" id="search" name="search">Search</button>
 </div>
</div>
